USE [project]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 03/09/2021 10:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](500) NOT NULL,
	[username] [nchar](50) NOT NULL,
	[password] [nchar](500) NOT NULL,
	[rule] [int] NULL,
	[email] [nchar](500) NULL,
	[address] [nchar](500) NULL,
	[tel] [nchar](500) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  Table [dbo].[Group_Product]    Script Date: 03/09/2021 10:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Product](
	[id] [int] NOT NULL,
	[name] [nchar](500) NULL,
	[content] [nchar](500) NULL,
	[image] [nchar](500) NULL,
	[order] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Group_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03/09/2021 10:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](500) NULL,
	[detail] [nchar](500) NULL,
	[price] [float] NULL,
	[image] [nchar](500) NULL,
	[NewPrice] [float] NULL,
	[date] [date] NULL,
	[Group_ID] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 03/09/2021 10:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[username] [nchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([id], [pid], [username]) VALUES (108, 255, N'tai                                               ')
INSERT [dbo].[Order] ([id], [pid], [username]) VALUES (110, 230, N'taivd1                                            ')
INSERT [dbo].[Order] ([id], [pid], [username]) VALUES (111, 1, N'taivd1                                            ')
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[Cart]    Script Date: 03/09/2021 10:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NOT NULL,
	[username] [nchar](50) NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON
INSERT [dbo].[Cart] ([id], [pid], [username]) VALUES (90, 252, N'tai                                               ')
INSERT [dbo].[Cart] ([id], [pid], [username]) VALUES (91, 3, N'tai                                               ')
INSERT [dbo].[Cart] ([id], [pid], [username]) VALUES (96, 2, N'taivd1                                            ')
SET IDENTITY_INSERT [dbo].[Cart] OFF
/****** Object:  Table [dbo].[Buyed]    Script Date: 03/09/2021 10:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyed](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[username] [nchar](50) NULL,
 CONSTRAINT [PK_Buyed] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Buyed_Account]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Buyed]  WITH CHECK ADD  CONSTRAINT [FK_Buyed_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Buyed] CHECK CONSTRAINT [FK_Buyed_Account]
GO
/****** Object:  ForeignKey [FK_Buyed_Product]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Buyed]  WITH CHECK ADD  CONSTRAINT [FK_Buyed_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Buyed] CHECK CONSTRAINT [FK_Buyed_Product]
GO
/****** Object:  ForeignKey [FK_Cart_Account]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
/****** Object:  ForeignKey [FK_Cart_Product]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
/****** Object:  ForeignKey [FK_Order_Account]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
/****** Object:  ForeignKey [FK_Order_Product]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
/****** Object:  ForeignKey [FK_Product_Group_Product]    Script Date: 03/09/2021 10:06:27 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Group_Product] FOREIGN KEY([Group_ID])
REFERENCES [dbo].[Group_Product] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Group_Product]
GO
